
:root{
    --charleston-green: #0b2027ff;
    --teal-blue: #495867 ;
    --green-sheen: #577399 ;
    --ash-gray: #BDD5EA;
    --cornsilk: #F7F7FF;
    --details-red:#FE5F55;

    --white: rgba(255,255,255,1);
    --whitenav: rgba(255,255,255,0.8);
    --grey: rgba(112,112,112,1);
    --greenblue: rgba(0,148,154,1);
    --orange: rgba(241,137,0,1);
    --black: rgba(0,0,0,1);
    --blue: rgba(5,107,185,1);
    --green: rgba(61,206,0,1);
    --red: rgba(220,0,0,1);
    --nav: #495867;
}

body{
    background-color: var(--cornsilk);
}

/* Navbar start */
.bg-nav{
  background-color: var(--ash-gray);
}
.nav-link:hover{
  color: var(--details-red);
  border-bottom: solid 2px var(--details-red);
}

.buttonFlag{
  width: 25px;
  height: 40px;
}
/* Navbar end */

.header{
    display: flex;
    height: 100vh;
    background-color: var(php --green-sheen);
    background-size:cover;

    justify-content: center;
    align-items: center;
}

.headtext{
    color: var(--charleston-green);
    font-size: 100px;
    font-weight: 1000;

    text-align: center;
}

.pheadtext{
    color: var(--charleston-green);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.ournav{
    /* background-color: transparent; */
    color: var(--cornsilk);
    position: fixed;
    top: 0;
    z-index: 9999;
}

/* CSS */
.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}

/* sezione 1 start */
.hero {
    background: linear-gradient(to top, white, var(--blue), var(--blue));
    padding: calc(4rem - 30px) 0 0rem 0; }
    @media (min-width: 768px) {
      .hero {
        padding: calc(4rem - 30px) 0 4rem 0; } }
    @media (min-width: 992px) {
      .hero {
        padding: calc(8rem - 30px) 0 8rem 0; } }
    .hero .intro-excerpt {
      position: relative;
      z-index: 4; }
      @media (min-width: 992px) {
        .hero .intro-excerpt {
          max-width: 450px; } }
    .hero h1 {
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 30px; }
      @media (min-width: 1400px) {
        .hero h1 {
          font-size: 54px; } }
    .hero p {
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 30px; }
    .hero .hero-img-wrap {
      position: relative; }
      .hero .hero-img-wrap img {
        position: relative;
        top: 0px;
        right: 0px;
        z-index: 2;
        max-width: 780px;
        left: -20px; }
        @media (min-width: 768px) {
          .hero .hero-img-wrap img {
            right: 0px;
            left: -100px; } }
        @media (min-width: 992px) {
          .hero .hero-img-wrap img {
            left: 0px;
            top: -80px;
            position: absolute;
            right: -50px; } }
        @media (min-width: 1200px) {
          .hero .hero-img-wrap img {
            left: 0px;
            top: -80px;
            right: -100px; } }
      .hero .hero-img-wrap:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        background-image: url("../images/dots-light.svg");
        background-size: contain;
        background-repeat: no-repeat;
        right: -100px;
        top: -0px; }
        @media (min-width: 1200px) {
          .hero .hero-img-wrap:after {
            top: -40px; } }


      /* bottoni sezione 1 end                     */

/* Bottoni Accetta e Rifiuta REVISORE */
.btn2{
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
}
/* Bottoni Accetta e Rifiuta REVISORE end */




.section-title {
    color: #2f2f2f; }

  .product-section {
    padding: 7rem 0; }
    .product-section .product-item {
      text-align: center;
      text-decoration: none;
      display: block;
      position: relative;
      padding-bottom: 50px;
      cursor: pointer; }
      .product-section .product-item .product-thumbnail {
        margin-bottom: 30px;
        position: relative;
        top: 0;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .product-section .product-item h3 {
        font-weight: 600;
        font-size: 16px; }
      .product-section .product-item strong {
        font-weight: 800 !important;
        font-size: 18px !important; }
      .product-section .product-item h3, .product-section .product-item strong {
        color: #2f2f2f;
        text-decoration: none; }
      .product-section .product-item .icon-cross {
        position: absolute;
        width: 35px;
        height: 35px;
        display: inline-block;
        background: #2f2f2f;
        bottom: 15px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-bottom: -17.5px;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .product-section .product-item .icon-cross img {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .product-section .product-item:before {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        content: "";
        background: #dce5e4;
        height: 0%;
        z-index: -1;
        border-radius: 10px;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .product-section .product-item:hover .product-thumbnail {
        top: -25px; }
      .product-section .product-item:hover .icon-cross {
        bottom: 0;
        opacity: 1;
        visibility: visible; }
      .product-section .product-item:hover:before {
        height: 70%; }

        /*  perchè scegliere noi start */
  .why-choose-section {
    padding: 7rem 0; }
    .why-choose-section .img-wrap {
      position: relative; }
      .why-choose-section .img-wrap:before {
        position: absolute;
        content: "";
        width: 255px;
        height: 217px;
        background-image: url("../images/dots-yellow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-transform: translate(-40%, -40%);
        -ms-transform: translate(-40%, -40%);
        transform: translate(-40%, -40%);
        z-index: -1; }
      .why-choose-section .img-wrap img {
        border-radius: 20px; }

  .feature {
    margin-bottom: 30px; }
    .feature .icon {
      display: inline-block;
      position: relative;
      margin-bottom: 20px; }
      .feature .icon:before {
        content: "";
        width: 33px;
        height: 33px;
        position: absolute;
        background: rgba(59, 93, 80, 0.2);
        border-radius: 50%;
        right: -8px;
        bottom: 0; }
    .feature h3 {
      font-size: 14px;
      color: #2f2f2f; }
    .feature p {
      font-size: 14px;
      line-height: 22px;
      color: #6a6a6a; }
     /*  perchè scegliere noi start */

        /*  help section start */


  .we-help-section {
    padding: 7rem 0; }
    .we-help-section .imgs-grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[27];
      grid-template-columns: repeat(27, 1fr);
      position: relative; }
      .we-help-section .imgs-grid:before {
        position: absolute;
        content: "";
        width: 255px;
        height: 217px;
        background-image: url("../images/dots-green.svg");
        background-size: contain;
        background-repeat: no-repeat;
        -webkit-transform: translate(-40%, -40%);
        -ms-transform: translate(-40%, -40%);
        transform: translate(-40%, -40%);
        z-index: -1; }
      .we-help-section .imgs-grid .grid {
        position: relative; }
        .we-help-section .imgs-grid .grid img {
          border-radius: 20px;
          max-width: 100%; }
        .we-help-section .imgs-grid .grid.grid-1 {
          -ms-grid-column: 1;
          -ms-grid-column-span: 18;
          grid-column: 1 / span 18;
          -ms-grid-row: 1;
          -ms-grid-row-span: 27;
          grid-row: 1 / span 27; }
        .we-help-section .imgs-grid .grid.grid-2 {
          -ms-grid-column: 19;
          -ms-grid-column-span: 27;
          grid-column: 19 / span 27;
          -ms-grid-row: 1;
          -ms-grid-row-span: 5;
          grid-row: 1 / span 5;
          padding-left: 20px; }
        .we-help-section .imgs-grid .grid.grid-3 {
          -ms-grid-column: 14;
          -ms-grid-column-span: 16;
          grid-column: 14 / span 16;
          -ms-grid-row: 6;
          -ms-grid-row-span: 27;
          grid-row: 6 / span 27;
          padding-top: 20px; }
   /*  help section end */

  .custom-list {
    width: 100%; }
    .custom-list li {
      display: inline-block;
      width: calc(50% - 20px);
      margin-bottom: 12px;
      line-height: 1.5;
      position: relative;
      padding-left: 20px; }
      .custom-list li:before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid #3b5d50;
        position: absolute;
        left: 0;
        top: 8px; }

        /* <!-- Start Popular Product --> */

  .popular-product {
    padding: 0 0 7rem 0; }
    .popular-product .product-item-sm h3 {
      font-size: 14px;
      font-weight: 700;
      color: #2f2f2f; }
    .popular-product .product-item-sm a {
      text-decoration: none;
      color: #2f2f2f;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .popular-product .product-item-sm a:hover {
        color: rgba(47, 47, 47, 0.5); }
    .popular-product .product-item-sm p {
      line-height: 1.4;
      margin-bottom: 10px;
      font-size: 14px; }
    .popular-product .product-item-sm .thumbnail {
      margin-right: 10px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
      flex: 0 0 120px;
      position: relative; }
      .popular-product .product-item-sm .thumbnail:before {
        content: "";
        position: absolute;
        border-radius: 20px;
        background: #dce5e4;
        width: 98px;
        height: 98px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: -1; }
  /* <!-- Start Popular Product --> */
  /* <!-- Start testimonial section --> */
  .testimonial-section {
    padding: 3rem 0 7rem 0; }

  .testimonial-slider-wrap {
    position: relative; }
    .testimonial-slider-wrap .tns-inner {
      padding-top: 30px; }
    .testimonial-slider-wrap .item .testimonial-block blockquote {
      font-size: 16px; }
      @media (min-width: 768px) {
        .testimonial-slider-wrap .item .testimonial-block blockquote {
          line-height: 32px;
          font-size: 18px; } }
    .testimonial-slider-wrap .item .testimonial-block .author-info .author-pic {
      margin-bottom: 20px; }
      .testimonial-slider-wrap .item .testimonial-block .author-info .author-pic img {
        max-width: 80px;
        border-radius: 50%; }
    .testimonial-slider-wrap .item .testimonial-block .author-info h3 {
      font-size: 14px;
      font-weight: 700;
      color: #2f2f2f;
      margin-bottom: 0; }
    .testimonial-slider-wrap #testimonial-nav {
      position: absolute;
      top: 50%;
      z-index: 99;
      width: 100%;
      display: none; }
      @media (min-width: 768px) {
        .testimonial-slider-wrap #testimonial-nav {
          display: block; } }
      .testimonial-slider-wrap #testimonial-nav > span {
        cursor: pointer;
        position: absolute;
        width: 58px;
        height: 58px;
        line-height: 58px;
        border-radius: 50%;
        background: rgba(59, 93, 80, 0.1);
        color: #2f2f2f;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .testimonial-slider-wrap #testimonial-nav > span:hover {
          background: #3b5d50;
          color: #ffffff; }
      .testimonial-slider-wrap #testimonial-nav .prev {
        left: -10px; }
      .testimonial-slider-wrap #testimonial-nav .next {
        right: 0; }
    .testimonial-slider-wrap .tns-nav {
      position: absolute;
      bottom: -50px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
      .testimonial-slider-wrap .tns-nav button {
        background: none;
        border: none;
        display: inline-block;
        position: relative;
        width: 0 !important;
        height: 7px !important;
        margin: 2px; }
        .testimonial-slider-wrap .tns-nav button:active, .testimonial-slider-wrap .tns-nav button:focus, .testimonial-slider-wrap .tns-nav button:hover {
          outline: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          background: none; }
        .testimonial-slider-wrap .tns-nav button:before {
          display: block;
          width: 7px;
          height: 7px;
          left: 0;
          top: 0;
          position: absolute;
          content: "";
          border-radius: 50%;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          background-color: #d6d6d6; }
        .testimonial-slider-wrap .tns-nav button:hover:before, .testimonial-slider-wrap .tns-nav button.tns-nav-active:before {
          background-color: #3b5d50; }
   /* <!-- end testimonial section --> */

  .before-footer-section {
    padding: 7rem 0 12rem 0 !important; }

    /* blog section start */

  .blog-section {
    padding: 7rem 0 12rem 0; }
    .blog-section .post-entry a {
      text-decoration: none; }
    .blog-section .post-entry .post-thumbnail {
      display: block;
      margin-bottom: 20px; }
      .blog-section .post-entry .post-thumbnail img {
        border-radius: 20px;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
    .blog-section .post-entry .post-content-entry {
      padding-left: 15px;
      padding-right: 15px; }
      .blog-section .post-entry .post-content-entry h3 {
        font-size: 16px;
        margin-bottom: 0;
        font-weight: 600;
        margin-bottom: 7px; }
      .blog-section .post-entry .post-content-entry .meta {
        font-size: 14px; }
        .blog-section .post-entry .post-content-entry .meta a {
          font-weight: 600; }
    .blog-section .post-entry:hover .post-thumbnail img, .blog-section .post-entry:focus .post-thumbnail img {
      opacity: .7; }
    /* blog section start */
    /* footer section start */
  .footer-section {
    padding: 80px 0;
    background: #ffffff; }
    .footer-section .relative {
      position: relative; }
    .footer-section a {
      text-decoration: none;
      color: #2f2f2f;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .footer-section a:hover {
        color: rgba(47, 47, 47, 0.5); }
    .footer-section .subscription-form {
      margin-bottom: 40px;
      position: relative;
      z-index: 2;
      margin-top: 100px; }
      @media (min-width: 992px) {
        .footer-section .subscription-form {
          margin-top: 0px;
          margin-bottom: 80px; } }
      .footer-section .subscription-form h3 {
        font-size: 18px;
        font-weight: 500;
        color: #3b5d50; }
      .footer-section .subscription-form .form-control {
        height: 50px;
        border-radius: 10px;
        font-family: "Inter", sans-serif; }
        .footer-section .subscription-form .form-control:active, .footer-section .subscription-form .form-control:focus {
          outline: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          border-color: #3b5d50;
          -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }

      .footer-section .subscription-form .btn {
        border-radius: 10px !important; }
    .footer-section .sofa-img {
      position: absolute;
      top: -200px;
      z-index: 1;
      right: 0; }
      .footer-section .sofa-img img {
        max-width: 380px; }
    .footer-section .links-wrap {
      margin-top: 0px; }
      @media (min-width: 992px) {
        .footer-section .links-wrap {
          margin-top: 54px; } }
      .footer-section .links-wrap ul li {
        margin-bottom: 10px; }
    .footer-section .footer-logo-wrap .footer-logo {
      font-size: 32px;
      font-weight: 500;
      text-decoration: none;
      color: #3b5d50; }
    .footer-section .custom-social li {
      margin: 2px;
      display: inline-block; }
      .footer-section .custom-social li a {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        display: inline-block;
        background: #f2eeea;
        color: #ea2700;
        border-radius: 50%; }
        .footer-section .custom-social li a:hover {
          background: #ff2a00;
          color: #ffffff; }
    .footer-section .border-top {
      border-color: #dce5e4; }
      .footer-section .border-top.copyright {
        font-size: 14px !important; }
  /* footer section end */

  .pubann{
    scale: 1.4;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 5%;
    background-color: #ff2f00bb !important;
}

.redcolor{
    background-color: #ff2f00bb !important;
}
/* Solid border */
hr.solid {
    border-top: 2px solid black;
}

.category{
    font-weight: bold;
    text-align: center;
    align-items: center;
    position: relative;
    bottom: 5%;
}

.general{
    margin: 5%;
}

 /* CSS General */

  a{
    text-decoration: none;
  }

  .card{
      background-color: #fff;
      border: 2px solid var(--grey);
      border-radius: 15px;
      height: 385px;
      width: 282px;
      margin: 20px;
      text-align: center;
      padding: 0px;
  }

  .imgcard{
      height: 158px;
      width: 100%;
      border-radius: 15px 15px 0px 0px;
  }

  .cardTitle{
    font-family: 'Montserrat', monospace;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 0px;
  }

  .cardPrice{
    font-family: 'Montserrat', monospace;
    font-size: 20px;
  }

  .cardDesc{
    font-family: 'Montserrat', monospace;
    font-weight: 400;
    font-size: 17px;
  }

  .cardButt{
    background-color: var(--orange);
    border-radius: 15px;
    width: 75%;

    transition: width 0.5s ease-in-out;
  }

  .buttText{
    font-family: 'Montserrat', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
  }

  .headButt{
    background-color: var(--orange);
    border-radius: 30px;
    width: 100%;
    height: 6vh;
    margin: 0 auto;
    transition: scale 0.5s ease-in-out;
  }

  /* Btn Animation & return*/
  .cardButt:hover{
    background-color: var(--orange) !important;
    border-radius: 15px;
    width: 85%;
    transition: 0.5s;
  }

  .headButt:hover{
    background-color: var(--orange) !important;
    border-radius: 30px;
    scale: 1.1;
    transition: 0.5s;
  }
  /* Navbar */
  .navbar{
    background-color: #495867;
    min-height: 4vh;
    width: 100%;
  }

  .collapse{
    background-color: #495867;
    width: 100%;
    z-index: 1;
  }

  .navLogo{
    font-weight: 700;
    color: #fff;
    scale: 1.15;
  }

  .navText{
    color: var(--whitenav);
    font-family: 'Montserrat', monospace;
    font-weight: 400;
    font-size: 17px;
    margin-top: 5px;
  }

  .navTextEnd{
    color: var(--whitenav);
    font-family: 'Montserrat', monospace;
    font-weight: 400;
    font-size: 17px;
    margin-top: 5px;
    margin-left: 15px;
  }

  .navbar-toggler{
    z-index: 1;
    background-color: #495867;
  }

  /* Footer */

  .footer{
    width: 100%;
    margin-top: 5%;
  }

  .footerTitle{
    font-family: 'Montserrat', monospace;
    font-weight: 700;
    font-size: 25px;
    color: var(--black);
  }

  .White{
    color: var(--white);
  }

  .footerDesc{
    font-family: 'Montserrat', monospace;
    font-weight: 400;
    font-size: 17px;
    color: var(--black);
  }
